<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="<%= sk.routes.frontend.favIcon %>">

        <% if (!sk.ui.useCDN){ %>
            <script type='application/javascript' src='<%= sk.routes.frontend.sk%>/libs/fastclick.js'></script>
            <script type='application/javascript' src='<%= sk.routes.frontend.sk%>/libs/sortable.min.js'></script>

            <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.ui %>sk_ui_colors.css">
            <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.ui %>sk_ui.css">
            <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.ui %>sk_ui_gradients.css">
            <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.ui %>sk_ui_shadows.css">
            
            <% if (sk.routes.frontend.engine){ %>
                <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.engine %>/frontend/engine_style.css">
            <% } %>
            
        <% } else { %>
            //Get the above assets from CDN sources
        <% } %>
    </head>
    
    <body>
        <script>
            window.addEventListener('error', e => {
                console.warn('Script error from:', e.filename, 'line:', e.lineno, 'col:', e.colno, e.message);
            });
            
            document.addEventListener('DOMContentLoaded', function() {
                FastClick.attach(document.body);
            }, false);
        </script>

        
        <head>
            <% if (sk.routes.frontend.mobile){ %>
                <%- include(sk.routes.frontend.mobile.main) %>
            <% } %>

            <script> try { /*var $ = jQuery = require("jquery")*/ } catch(err) {} </script>
            <script src="<%= sk.routes.frontend.sk%>/libs/jquery/dist/jquery.slim.min.js"></script>
            <script src="<%= sk.routes.frontend.sk%>/libs/jquery/jquery-ui/jquery-ui.min.js"></script>
            
            <script src="<%= sk.routes.frontend.sk%>/libs/ua_parser/ua_parser.min.js"></script>
            
            <% if (sk.ui && sk.ui.font){ %>
                <%- include(sk.ui.font) %>
            <% } %>
            <link rel="stylesheet" type="text/css" href="/sk_ui_font/sk_ui_font.css">
            
            <script src="<%= sk.routes.frontend.sk%>/libs/sk_windowHandler.js"></script>

            <script src="<%= sk.routes.frontend.sk%>/libs/sk_mobile/sk_mobile.js"></script>
            

            <script src="<%= sk.routes.frontend.sk%>/libs/sk_helpers.js"></script>

            <link rel="stylesheet" href="<%= sk.routes.frontend.sk%>/libs/formantic-ui/semantic.css"/>
            <script src="<%= sk.routes.frontend.sk%>/libs/formantic-ui/semantic.min.js"></script>
            

            <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.sk%>/libs/jsom/jsom.css">
            <script src="<%= sk.routes.frontend.sk%>/libs/jsom/jsom.js"></script>


            <script src="<%= sk.routes.frontend.sk%>/libs/sk_comm/sk_comm_<%= app_type %>.js"></script>
            <script src="<%= sk.routes.frontend.sk%>/libs/sk_comm/sk_comm_core.js"></script>

            <script src="<%= sk.routes.frontend.sk%>/libs/sk_dialog/sk_dialog_<%= app_type %>.js"></script>
            <script src="<%= sk.routes.frontend.sk%>/libs/sk_dialog/sk_dialog_core.js"></script>


            <script src="<%= sk.routes.frontend.sk%>/libs/sk_fileDrop/sk_fileDrop.js"></script>

            <script src="<%= sk.routes.frontend.sk%>/libs/sk_tween.js"></script>
            <script src="<%= sk.routes.frontend.sk%>/libs/sk_commands/sk_commands.js"></script>

           
            <script src="<%= sk.routes.frontend.sk%>/libs/sk_ums/sk_ums.js"></script>

            <!--<script src="<%= sk.routes.frontend.sk%>/libs/sk_thread.js"></script>-->


            <!--<link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.sk%>libs/sk_contextMenu/sk_contextMenu.css">
            <script src="<%= sk.routes.frontend.sk%>libs/sk_contextMenu/sk_contextMenu.js"></script>-->

            <script src="<%= sk.routes.frontend.sk%>/libs/sk_childMngr/sk_childMngr.js"></script>

            

            <script src="<%= sk.routes.frontend.sk%>/libs/js-cookie/js.cookie.min.js"></script>

            <script src="<%= sk.routes.frontend.sk%>/libs/helpers/colors.js"></script>
            <script src="<%= sk.routes.frontend.sk%>/libs/helpers/strings.js"></script>

            
            <script src="<%= sk.routes.frontend.sk%>/libs/sk_rubberbander.js"></script>

           

            <%- include(globalHead) %>

            
            <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.view%>view.css">
            <%- include(viewHead) %>

            <script src="<%= sk.routes.frontend.sk%>/libs/sk_hint/sk_hint.js"></script>
        </head>

        <%- include(sk.ui.head) %>

        <% if (sk.useComplexity){ %>
            <head>
                <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.complexity %>complexity.css">
                <script src="<%= sk.routes.frontend.complexity %>icons.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>comm.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>selectionManager.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>complexity.js"></script>


                <script src="<%= sk.routes.frontend.complexity %>editor/components/objectTree.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>editor/components/stylingEditor.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>editor/components/attributeEditor.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>editor/components/iconList.js"></script>

                

                <link rel="stylesheet" href="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/theme/vscode-dark.css">

                <link rel="stylesheet" href="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/lib/codemirror.css">
                <script src="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/lib/codemirror.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/mode/javascript/javascript.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>codeEditor/bakery.js"></script>
                <script src="<%= sk.routes.frontend.complexity %>codeEditor/codeEditor.js"></script>

                <script src="<%= sk.routes.frontend.complexity %>editor/editor.js"></script>
            </head>
        <% } %>
    </head>
        <script>
            if (window.location.href[window.location.href.length - 1] === '/'){
                var sk_1639264_url = window.location.href.replace('http://', '').replace('https://', '')
                var sk_1639264_url_split = sk_1639264_url.split('/')
                if (sk_1639264_url_split.length > 1 && sk_1639264_url_split[1].length > 0) window.location.href = window.location.href.substring(0, window.location.href.length - 1)
            }
        </script>

        <%- include(viewBodyScripts.start) %>
        
        <script src="<%= sk.routes.frontend.view %>view.js"></script>

        <%- include(sk.ui.script) %>
        
        <% if (sk.routes.frontend.engine){ %>
            <script>sk.needsEngineInit = true</script>
            <%- include(sk.routes.frontend.engine + "/frontend/engine_body.ejs") %>
            <script>
                sk.initEngine().then(()=>{})
            </script>
        <% } %>

        <script>
            sk.l10n = <%- JSON.stringify(l10n) %>
        </script>
        <script src="<%= sk.routes.frontend.sk%>/libs/sk_l10n/sk_l10n.js"></script>

        <script>

            <% if (sk.useComplexity){ %>
                sk.complexity = {
                    core: new sk_ui_complexity()
                }
                sk.complexity.comm = new sk_ui_complexity_comm()
                sk.complexity.comm.init()
            <% } %>

            
            
            sk.userData = <%- JSON.stringify(userData) %>
            sk.globalData = <%- JSON.stringify(globalData) %>


            var startSKFE = async ()=>{
                sk.ums = new SK_UMS()
                sk.commands = new SK_Commands()

                if (sk.app_type === 'wapp') document.body.classList.add('sk_ui_appType_wapp')

                var handleSKViewCmd = async res => {
                    var app = sk.app
                    if (res.data.viewID !== sk.id) return

                    switch (res.data.action) {
                        case 'show':
                            if (app.visible){
                                app.style.transition = '100ms'
                                var pulseOnce = async ()=>{
                                    app.style.transition = '100ms'
                                    app.opacity = 0.8
                                    app.style.transform = 'scale(0.99)'
                                    app.style.filter = 'blur(5px)'
                                    await sk.utils.sleep(100)
                                    app.opacity = 1
                                    app.style.transform = 'scale(1)'
                                    app.style.filter = ''
                                    return sk.utils.sleep(100)
                                }
                                await pulseOnce()
                                await pulseOnce()
                                app.style.transition = ''
                                return
                            }
                            app.visible = true
                            app.transition('fade in')
                            break;

                        case 'hide':
                            if (!app.visible) return
                            
                            await app.transition('fade out')
                            app.visible = false
                            break;
                    
                        default:
                            break;
                    }
                }

                sk.init().then(initAppRes => {
                    sk.app = (new sk_ui_component({parent: {element: document.body}, extraOpt: {}}))
                    sk.app.setup(_c => {
                        _c.styling += ' fullwidth fullheight'
                        _c.eventBlocker = _c.add.eventBlocker()
                        
                        _c.ums.on('sk_ui_block_userInteractons', res => {
                            _c.eventBlocker.style.display = (res.data.block ? '' : 'none')
                        })
                        
                        _c.scrollable = true
                        
                        if (sk.app_type !== 'wapp') _c.style.display = 'none'
                        
                        sk._cM = _c.contextMenu

                        _c.classAdd('sk_app')

                        _c.styling = 'ttb'

                        if (sk.app_type !== 'wapp' && !sk.noTitle){
                            _c.titlebar = _c.add.dappTitlebar(_c => {
                                _c.os    = sk.os
                                _c.title = sk.title
                                _c.icon  = sk.paths.icon
                            })
                        }
                        
                        
                        _c.body = _c.add.component(_c => {
                            _c.classAdd('sk_ui_appBody')
                            if (sk.noTitle || sk.app_type === 'wapp') _c.classAdd('sk_ui_noTitlebar')
                        
                            if (sk.app_type !== 'wapp'){
                                _c.classAdd('sk_ui_appBody_dapp')
                                if (!sk.noTitle) _c.classAdd('sk_ui_appBody_dapp_withTitle')
                            }

                            sk.ums.broadcast('sk_view_cmd-' + sk.id + '_initialized', undefined, {})
                        })

                        _c.body.view = new sk._view({parent: _c.body, extraOpt: {}})
                        _c.body.children.add(_c.body.view)

                        <% if (sk.useComplexity){ %>
                            sk.complexity.editor = new sk_ui_complexity_editor({app: _c})
                            sk.complexity.codeEditor = new sk_ui_complexity_codeEditor(_c)
                        <% } %>




                        /********/

                        _c.ums.on('sk_be_app_resize_begin-' + sk.id, res => {
                            sk.app.resizing = true
                            sk.ums.broadcast('app_resize_begin', undefined, res.data)
                            sk.ums.broadcast('app_body_resize_begin', undefined, res.data)
                        })

                        _c.ums.on('sk_be_app_resize-' + sk.id, res => {
                            sk.ums.broadcast('app_resize', undefined, res.data)
                            sk.ums.broadcast('app_body_resize', undefined, res.data)
                        })

                        _c.ums.on('sk_be_app_resize_end-' + sk.id, res => {
                            sk.app.resizing = false
                            sk.ums.broadcast('app_resize_end', undefined, res.data)
                            sk.ums.broadcast('app_body_resize_end', undefined, res.data)
                        })

                        /********/


                        
                    
                        _c.ums.on('sk_view_cmd-' + sk.id, res => { handleSKViewCmd(res) })

                        if (sk.app !== 'wapp'){
                            if (initAppRes.show){
                                handleSKViewCmd({data: {viewID: sk.id, action: 'show'}})
                            }
                        }
                    })

                })

                if (sk.app_type !== 'wapp'){
                    document.body.onresize = event => {
                        if (!sk.window.resizing) sk.window.maximize(true)
                    }

                    function updateOnlineStatus () {
                        sk.online = navigator.onLine
                        //sk.online = false
                        //sk.comm.main('setOnlineStatus', {online: sk.online})
                        sk.ums.broadcast('isOnline', undefined, sk.online)
                    }
                
                    window.addEventListener('online'  , ()=>{ updateOnlineStatus() })
                    window.addEventListener('offline' , ()=>{ updateOnlineStatus() })
                    updateOnlineStatus()
                }
                

                var skOnDocumentClicked = _e => {
                    var open_contextMenus = document.querySelectorAll('.sk_ui_contextMenu')

                    if (open_contextMenus.length === 0) return

                    var menuIDs = {}
                    open_contextMenus.forEach(_c => { if (_c.sk_ui_obj) menuIDs[_c.id] = _c })
                    
                    var elPath = sk.utils.getDomPath(_e.srcElement)
                    for (var i in elPath) if (menuIDs[elPath[i].id]) return
                    
                    
                    
                    sk.ums.broadcast('sk_ui_contextMenu-hide', undefined, {fromGlobal: true, toBE: false})

                    //var open_contextMenus = document.querySelectorAll('.sk_ui_contextMenu')
                    for (var i = 0; i < open_contextMenus.length; i++) open_contextMenus[i].sk_ui_obj.remove()

                }

                if (!sk.isOnMobile) document.addEventListener('click', _e => { skOnDocumentClicked(_e) })
                else document.addEventListener('touchend', _e => { skOnDocumentClicked(_e) })

                document.addEventListener('keydown', _e => {
                    if (_e.which === 27) return sk.ums.broadcast('sk_ui_contextMenu-hide', undefined, {fromGlobal: true})
                })

                if (sk.app_type !== 'wapp'){
                    sk.ums.on('sk_flog', res => {
                        if (res.first) return
                        console.log(res.data)
                    })
                }


                sk.tweens = new SK_UI_Tweens()
                sk.tweens.start()
            }

            if (sk.app_type === 'wapp'){
                window.sk_api = {}
                sk_api.waitForWndReady = ()=>{
                    return new Promise(resolve => {
                        resolve()
                    })
                }
            }

            sk_api.waitForWndReady().then(()=>{
                startSKFE()
            })
            
        </script>


        <%- include(viewBodyScripts.end) %>
    </body>
</html>
