<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="<%= sk.routes.frontend.favIcon %>">

        <% if (sk.routes.frontend.mobile){ %>
            <%- include(sk.routes.frontend.mobile.main) %>
        <% } %>

        <script> try { var $ = jQuery = require("jquery") } catch(err) {} </script>
        <script src="<%= sk.routes.frontend.sk%>libs/jquery/dist/jquery.slim.min.js"></script>
        <script src="<%= sk.routes.frontend.sk%>libs/jquery/jquery-ui/jquery-ui.min.js"></script>
        
        <script src="<%= sk.routes.frontend.sk%>libs/ua_parser/ua_parser.min.js"></script>
        
        <% if (sk.ui && sk.ui.font){ %>
            <%- include(sk.ui.font) %>
        <% } %>
        <link rel="stylesheet" type="text/css" href="/sk_ui_font/sk_ui_font.css">
        

        <script src="<%= sk.routes.frontend.sk%>libs/sk_mobile/sk_mobile.js"></script>
        

        <script src="<%= sk.routes.frontend.sk%>libs/sk_helpers.js"></script>

        <link rel="stylesheet" href="<%= sk.routes.frontend.sk%>libs/formantic-ui/semantic.css"/>
        <script src="<%= sk.routes.frontend.sk%>libs/formantic-ui/semantic.min.js"></script>
        

        <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.sk%>libs/jsom/jsom.css">
        <script src="<%= sk.routes.frontend.sk%>libs/jsom/jsom.js"></script>


        <script src="<%= sk.routes.frontend.sk%>libs/sk_comm/sk_comm_<%= app_type %>.js"></script>
        <script src="<%= sk.routes.frontend.sk%>libs/sk_comm/sk_comm_core.js"></script>

        <script src="<%= sk.routes.frontend.sk%>libs/sk_dialog/sk_dialog_<%= app_type %>.js"></script>
        <script src="<%= sk.routes.frontend.sk%>libs/sk_dialog/sk_dialog_core.js"></script>


        <script src="<%= sk.routes.frontend.sk%>libs/sk_fileDrop/sk_fileDrop.js"></script>

        <script src="<%= sk.routes.frontend.sk%>libs/sk_tween.js"></script>

        <% if (app_type === 'dapp'){ %>
            <script src="<%= sk.routes.frontend.sk%>libs/sk_viewController/sk_viewController.js"></script>
        <% } %>
        <script src="<%= sk.routes.frontend.sk%>libs/sk_ums/sk_ums.js"></script>


        <!--<link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.sk%>libs/sk_contextMenu/sk_contextMenu.css">
        <script src="<%= sk.routes.frontend.sk%>libs/sk_contextMenu/sk_contextMenu.js"></script>-->

        <script src="<%= sk.routes.frontend.sk%>libs/sk_childMngr/sk_childMngr.js"></script>

        

        <script src="<%= sk.routes.frontend.sk%>libs/js-cookie/js.cookie.min.js"></script>

       

        <%- include(globalHead) %>

        
        <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.view%>view.css">
        <%- include(viewHead) %>

        <script src="<%= sk.routes.frontend.sk%>libs/sk_hint/sk_hint.js"></script>
    </head>

    <%- include(sk.ui.head) %>

    <% if (sk.useComplexity){ %>
        <head>
            <link rel="stylesheet" type="text/css" href="<%= sk.routes.frontend.complexity %>complexity.css">
            <script src="<%= sk.routes.frontend.complexity %>icons.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>comm.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>selectionManager.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>complexity.js"></script>


            <script src="<%= sk.routes.frontend.complexity %>editor/components/objectTree.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>editor/components/stylingEditor.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>editor/components/attributeEditor.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>editor/components/iconList.js"></script>

            

            <link rel="stylesheet" href="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/theme/vscode-dark.css">

            <link rel="stylesheet" href="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/lib/codemirror.css">
            <script src="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/lib/codemirror.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>codeEditor/codemirror/mode/javascript/javascript.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>codeEditor/bakery.js"></script>
            <script src="<%= sk.routes.frontend.complexity %>codeEditor/codeEditor.js"></script>

            <script src="<%= sk.routes.frontend.complexity %>editor/editor.js"></script>
        </head>
    <% } %>
    
    <body>
        <script>
            if (window.location.href[window.location.href.length - 1] === '/') window.location.href = window.location.href.substring(0, window.location.href.length - 1)
        </script>

        <%- include(viewBodyScripts.start) %>
        
        <script src="<%= sk.routes.frontend.view %>view.js"></script>

        <%- include(sk.ui.script) %>

        <script>
            sk.l10n = <%- JSON.stringify(l10n) %>
        </script>
        <script src="<%= sk.routes.frontend.sk%>libs/sk_l10n/sk_l10n.js"></script>

        <script>
             <% if (sk.useComplexity){ %>
                sk.complexity = {
                    core: new sk_ui_complexity()
                }
                sk.complexity.comm = new sk_ui_complexity_comm()
                sk.complexity.comm.init()
            <% } %>

            
            
            sk.userData = <%- JSON.stringify(userData) %>
            sk.globalData = <%- JSON.stringify(globalData) %>



            sk.ums = new SK_UMS()


            if (sk.app_type === 'wapp') document.body.classList.add('sk_ui_appType_wapp')

            sk.init().then(()=>{
                sk.app = (new sk_ui_component({parent: {element: document.body}}))
                sk.app.setup(_c => {
                    var eventBlocker = _c.add.component(_c => {
                        _c.classAdd('sk_ui_eventBlocker')
                        _c.style.display = 'none'
                    })
                    _c.ums.on('sk_ui_block_userInteractons', res => {
                        eventBlocker.style.display = (res.data.block ? '' : 'none')
                    })
                    
                    _c.scrollable = true
                    
                    if (sk.app_type === 'dapp') _c.style.display = 'none'

                    sk._cM = _c.contextMenu

                    _c.classAdd('sk_app')

                    _c.styling = 'ttb'

                    if (sk.app_type === 'dapp' && !sk.noTitle){
                        _c.titlebar = _c.add.dappTitlebar(_c => {
                            _c.os    = sk.os
                            _c.title = sk.title
                            _c.icon  = sk.paths.icon
                        })
                    }
                    
                    
                    _c.body = _c.add.component(_c => {
                        _c.classAdd('sk_ui_appBody')
                        if (sk.noTitle || sk.app_type === 'wapp') _c.classAdd('sk_ui_noTitlebar')
                    
                        if (sk.app_type === 'dapp'){
                            _c.classAdd('sk_ui_appBody_dapp')
                            if (!sk.noTitle) _c.classAdd('sk_ui_appBody_dapp_withTitle')
                        }

                        _c.view = new sk._view({parent: _c})
                        _c.children.add(_c.view)
                    })
                    <% if (sk.useComplexity){ %>
                        sk.complexity.editor = new sk_ui_complexity_editor({app: _c})
                        sk.complexity.codeEditor = new sk_ui_complexity_codeEditor(_c)
                    <% } %>

                    _c.ums.on('sk_view_cmd-' + sk.id, async res => {
                        if (res.data.viewID !== sk.id) return

                        switch (res.data.action) {
                            case 'show':
                                if (_c.visible){
                                    _c.style.transition = '100ms'
                                    var pulseOnce = async ()=>{
                                        _c.style.transition = '100ms'
                                        _c.opacity = 0.8
                                        _c.style.transform = 'scale(0.99)'
                                        _c.style.filter = 'blur(5px)'
                                        await sk.utils.sleep(100)
                                        _c.opacity = 1
                                        _c.style.transform = 'scale(1)'
                                        _c.style.filter = ''
                                        return sk.utils.sleep(100)
                                    }
                                    await pulseOnce()
                                    await pulseOnce()
                                    _c.style.transition = ''
                                    return
                                }
                                _c.visible = true
                                _c.transition('fade in')
                                break;

                            case 'hide':
                                if (!_c.visible) return
                                
                                await _c.transition('fade out')
                                _c.visible = false
                                break;
                        
                            default:
                                break;
                        }
                    })
                })

            })

            if (sk.app_type === 'dapp'){
                document.body.onresize = event => {
                    if (!sk.window.resizing) sk.window.maximize(true)
                }

                function updateOnlineStatus () {
                    sk.online = navigator.onLine
                    //sk.online = false
                    sk.comm.main('setOnlineStatus', {online: sk.online})
                    sk.ums.broadcast('isOnline', undefined, sk.online)
                }
            
                window.addEventListener('online'  , ()=>{ updateOnlineStatus() })
                window.addEventListener('offline' , ()=>{ updateOnlineStatus() })
                updateOnlineStatus()
            }
            

            document.addEventListener('click', _e => {
                sk.ums.broadcast('sk_ui_contextMenu-hide', undefined, {fromGlobal: true})
            })

            document.addEventListener('keydown', _e => {
                if (_e.which === 27) return sk.ums.broadcast('sk_ui_contextMenu-hide', undefined, {fromGlobal: true})
            })

            if (sk.app_type === 'dapp'){
                sk.ums.on('sk_flog', res => {
                    if (res.first) return
                    console.log(res.data)
                })
            }
        </script>


        <%- include(viewBodyScripts.end) %>
    </body>
</html>